/*
.*

!/alpine/
!/debian/
!/docs/
!/rootfs/
!/rootfs-unprivileged/
!/test/
!/.github/

!/CHANGELOG.md
!/CHANGELOG.ru.md
!/CLAUDE.md
!/LICENSE
!/Makefile
!/README.md
!/README.ru.md
!/committed.toml
!/docker-compose.yml
!/.dockerignore
!/.editorconfig
!/.gitignore
!/.shellcheckrc

!.gitkeep
