x-logging: &logging-systemd
  logging:
    driver: journald

x-logging-loki: &logging-loki
  logging:
    driver: loki
    options:
      mode: "non-blocking"
      loki-url: http://127.0.0.1:3100/loki/api/v1/push
      max-size: "50m"
      max-file: "2"

x-build-alpine: &build-alpine
  image: "angie-alpine"
  build:
    context: .
    dockerfile: ./alpine/Dockerfile

x-build-debian: &build-debian
  image: "angie-debian"
  build:
    context: .
    dockerfile: ./debian/Dockerfile

networks:
  front:

services:
  angie-official:
    #<<:
    #- *logging-systemd
    #- *logging-loki
    #- *build-alpine
    image: docker.angie.software/angie:latest
    container_name: angie-official
    hostname: angie-official
    restart: always
    # volumes:
    # - ./angie/config:/etc/angie/custom
    #ports:
    #  - 80:80
    #  - 443:443
    networks:
      front:

  angie-alpine:
    <<:
      #- *logging-systemd
      #- *logging-loki
      - *build-alpine
    container_name: angie-alpine
    hostname: angie-alpine
    restart: always
    environment:
      ANGIE_ENTRYPOINT_WORKER_PROCESSES_AUTOTUNE: 1
      ANGIE_GZIP_ENABLED: 1
    # volumes:
    # - ./angie/config:/etc/angie/custom
    #ports:
    #  - 80:80
    #  - 443:443
    networks:
      front:

  angie-debian:
    <<:
      #- *logging-systemd
      #- *logging-loki
      - *build-debian
    container_name: angie-debian
    hostname: angie-debian
    restart: always
    environment:
      ANGIE_ENTRYPOINT_WORKER_PROCESSES_AUTOTUNE: 1
      ANGIE_GZIP_ENABLED: 1
    # volumes:
    # - ./angie/config:/etc/angie/custom
    #ports:
    #  - 80:80
    #  - 443:443
    networks:
      front:
